<div>

  <md-toolbar layout="row" class="md-hue-3">
    <div class="md-toolbar-tools">
      <span>Alunos</span>
    </div>
  </md-toolbar>

  <md-content>
    <md-content>
      <md-button class="md-raised md-primary" ng-href="/#/aluno">Novo</md-button>
      <md-input ng-model="filtro" type="search" placeholder="Nome">
      </md-content>
      <md-list flex>
        <md-list-item class="md-3-line" ng-repeat="aluno in main.alunos | filter: filtro" ng-href="/#/aluno/{{aluno.matricula}}">
          <img ng-src="{{aluno.image}}" class="md-avatar" alt="" />
          <div class="md-list-item-text" layout="column">
            <h3>{{ aluno.nome }}</h3>
            <p>{{ aluno.matricula }}</p>
          </div>
        </md-list-item>
      </md-list>
    </md-content>

    <p id="demo"></p>
    <script>
      var x = document.getElementById("demo");

      function getLocation() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(showPosition);
        } else {
          error('Geo Location is not supported');
        }
      }

      function showPosition(position) {
        x.innerHTML="Latitude: " + position.coords.latitude +
        "<br>Longitude: " + position.coords.longitude;
      }
      getLocation();
    </script>

    <br><br>

    <video autoplay></video>
    <button>Take snapshot</button>
    <canvas></canvas>

    <script type="text/javascript">
      var video = document.querySelector('video');
      var canvas = window.canvas = document.querySelector('canvas');
      canvas.width = 480;
      canvas.height = 360;

      var button = document.querySelector('button');
      button.onclick = function() {
        canvas.width = video.videoWidth;
        canvas.height = video.videoHeight;
        canvas.getContext('2d').
          drawImage(video, 0, 0, canvas.width, canvas.height);
      };

      var constraints = {
        audio: false,
        video: true
      };

      function handleSuccess(stream) {
        window.stream = stream; // make stream available to browser console
        video.srcObject = stream;
      }

      function handleError(error) {
        console.log('navigator.getUserMedia error: ', error);
      }

      navigator.mediaDevices.getUserMedia(constraints).
      then(handleSuccess).catch(handleError);
    </script>

  </div>
